<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" height="100px" width="100px" src="{{selectedRecipe?.imagePath}}" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.desciption}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredieants
   </div>
</div>