<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" name="item-name" required class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text" name="item-amount" required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-succees">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>